<GridLayout row="3" rows="auto, auto">
    <StackLayout row="0">
        <Label text="{{'Theory Video' | uppercase }}" textWrap="true"></Label>
    </StackLayout>
    <GridLayout class="box" row="1" columns="*, *">
        <StackLayout [class]="cssforTheoryVideo1" col="0" borderRadius="10%" width="180" height="110"
            verticalAlignment="center" horizontalAlignment="center" textAlignment="center"
            [isUserInteractionEnabled]="theoryVideo1" (tap)="saveVideo('one')">
            <Label text="Take Video" class="cam-layout-label" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
            <Label class="fa fa-size-30" text="&#xf03d;" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
        </StackLayout>
        <StackLayout [class]="cssforTheoryVideo2" col="1" borderRadius="10%" width="180" height="110"
            verticalAlignment="center" horizontalAlignment="center" textAlignment="center"
            [isUserInteractionEnabled]="theoryVideo2" (tap)="saveVideo('two')">
            <Label text="Take Video" class="cam-layout-label" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
            <Label class="fa fa-size-30" text="&#xf03d;" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
        </StackLayout>
    </GridLayout>
</GridLayout>
