<GridLayout row="2" rows="auto, auto">
    <StackLayout row="0">
        <Label text="{{'Theory Exam Photo' | uppercase }}" textWrap="true"></Label>
    </StackLayout>
    <GridLayout class="box" row="1" columns="*, *">
        <StackLayout [class]="cssforTheory2" col="0" borderRadius="10%" width="180" height="110" verticalAlignment="center"
            horizontalAlignment="center" textAlignment="center"
            [isUserInteractionEnabled]="theoryImg1" (tap)="takePhoto('one')">
            <Label text="Take Photo" class="cam-layout-label" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
            <Label class="fa fa-size-30" text="&#xf030;" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
        </StackLayout>
        <StackLayout [class]="cssforTheory2" col="1" borderRadius="10%" width="180" height="110" verticalAlignment="center"
            horizontalAlignment="center" textAlignment="center"
            [isUserInteractionEnabled]="theoryImg2" (tap)="takePhoto('one')">
            <Label text="Take Photo" class="cam-layout-label" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
            <Label class="fa fa-size-30" text="&#xf030;" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
        </StackLayout>
    </GridLayout>
</GridLayout>
