<GridLayout>
    <ns-action-bar title="Download Questions"></ns-action-bar>
</GridLayout>
<GridLayout class="page page-layout" rows="70, *, 80, 80">
    <GridLayout row="0" class="box">
        <Label text="Upload / Download questions" class="fa-solid weather"
            style="padding:10; font-size: 15; font-weight: 700"></Label>
    </GridLayout>
    <ScrollView row="1" class="box">
        <StackLayout style="padding-top:35">
            <GridLayout columns="*, *, *" rows="*, *" class="center" style="margin-top:50">
                <FlexboxLayout class="fa-circle-layout m-r-10" row="0" col="1" (tap)="downloadQue()">
                    <Label text="&#xf019;" class="fa fa-size-30"></Label>
                </FlexboxLayout>
                <Label text="Download Questions" row="1" col="1"></Label>
            </GridLayout>
        </StackLayout>
    </ScrollView>
    <GridLayout class="box" row="2">
        <GridLayout row="0">
            <Button text="Next" [isEnabled]="!processing" class="btn btn-primary btn-rounded-sm" (tap)="nextScreen()"></Button>
        </GridLayout>
    </GridLayout>
    <StackLayout row="3">
        <ns-bottom-menu></ns-bottom-menu>
    </StackLayout>
</GridLayout>
<!-- <FlaxLayout justifyContent="center" alignItems="center" *ngIf="processing">
    <ActivityIndicator [busy]="processing"></ActivityIndicator>
</FlaxLayout> -->
