/* Add mobile styles for the component here.  */

.center {
    horizontal-align: center;
}

.icon {
    border-radius: 50;
    font-size: 40;
    width: 90;
    color: white;
}

.icon-left {
    margin-right: 10;
    padding-left: 28;
}

.icon-middle {
    padding-left: 28;
}

.icon-right {
    margin-left: 10;
    padding-left: 23;
}

.icon-text {
    color: white;
    font-family: "Varela", "varela-regular";
}

.icon-text-left {
    padding-left: 30;
}

.icon-text-middle {
    padding-left: 35;
}

.icon-text-right {
    padding-left: 38;
}

.fa-circle-layout {
    justify-content: center;
    align-items: center;
    width: 100;
    height: 100;
    margin: 5;
    border-color: #428bca;
    border-width: 1;
    border-radius: 50%;
    color: #428bca;
}
