<GridLayout>
    <ns-action-bar title="Login" [showBackButton]="false" [hasMenu]="false"></ns-action-bar>
</GridLayout>

<FlexboxLayout class="page">
    <StackLayout class="form" [formGroup]="form">
        <Image class="logo" src="res://logo"></Image>

        <PreviousNextView>
            <GridLayout rows="auto, auto, auto">
                <StackLayout row="0" class="input-field">
                    <TextField #userNameEl class="input" hint="Username" [isEnabled]="!processing" autocorrect="false"
                        autocapitalizationType="none" formControlName="username" returnKeyType="next"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                    <Label class="invalid" *ngIf="!emailControlIsValid" text="Please enter a valid username."></Label>
                </StackLayout>

                <StackLayout row="1" class="input-field">
                    <TextField #passwordEl class="input" [isEnabled]="!processing" hint="Password" secure="true"
                        formControlName="password" [returnKeyType]="isLoggingIn ? 'done' : 'next'"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                    <Label class="invalid" *ngIf="!passwordControlIsValid" text="Please enter a valid password."></Label>
                </StackLayout>

                <!-- <StackLayout row="2" *ngIf="!isLoggingIn" class="input-field">
                    <TextField #confirmPassword class="input" [isEnabled]="!processing" hint="Confirm password"
                        secure="true" [(ngModel)]="user.confirmPassword" returnKeyType="done"></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout> -->

                <!-- <ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator> -->
            </GridLayout>
        </PreviousNextView>

        <Button [text]="isLoggingIn ? 'Log In' : 'Sign Up'" [isEnabled]="!processing" (tap)="submit()"
            class="btn btn-primary m-t-20 btn-rounded-sm"></Button>
        <!-- <Label *ngIf="isLoggingIn" text="Forgot your password?" class="login-label"
            (tap)="forgotPassword()"></Label> -->
    </StackLayout>

    <!-- <Label class="login-label sign-up-label" (tap)="toggleForm()">
        <FormattedString>
            <Span [text]="isLoggingIn ? 'Don’t have an account? ' : 'Back to Login'"></Span>
            <Span [text]="isLoggingIn ? 'Sign up' : ''" class="bold"></Span>
        </FormattedString>
    </Label> -->
</FlexboxLayout>


<!-- <Button text="Login" class="btn btn-primary btn-rounded-sm" (tap)="onSignin()"
[clearHistory]="true"
pageTransition="slideLeft"></Button> -->
