<GridLayout>
    <ns-action-bar title="App Setting"></ns-action-bar>
</GridLayout>
<GridLayout class="page page-layout" rows="70, *, 170, 85" *ngIf="!processing">
    <GridLayout row="0" class="box">
        <Label text="Upload questions" class="fa-solid weather"
            style="padding:10; font-size: 15; font-weight: 700"></Label>
    </GridLayout>
    <StackLayout row="1">
        <ListView [items]="folderEntities" class="list-group" height:500>
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout>
                    <Label [text]="item" class="list-group-item"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <StackLayout row="2">
        <StackLayout style="padding-top:5" (tap)="uploadingImg()">
            <GridLayout columns="*, *, *" rows="*, *" class="center" style="margin-top:5">
                <FlexboxLayout class="fa-circle-layout" row="0" col="1">
                    <Label text="&#xf093;" class="fa fa-size-30"></Label>
                </FlexboxLayout>
                <Label text="Upload Questions" row="1" col="1"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>

    <!-- <GridLayout class="box" row="3">
        <GridLayout row="0">
            <Button text="Next" [isEnabled]="!processing" class="btn btn-primary btn-rounded-sm"></Button>
        </GridLayout>
    </GridLayout> -->
    <StackLayout row="3">
        <ns-bottom-menu></ns-bottom-menu>
    </StackLayout>
</GridLayout>

<!-- <FlaxLayout justifyContent="center" alignItems="center" *ngIf="processing">
    <ActivityIndicator rowSpan="5" [busy]="processing" opacity="0.9" width="100" height="100"></ActivityIndicator>
</FlaxLayout> -->

