<GridLayout>
    <ns-action-bar title="Batch Detail" showBackButton="true"></ns-action-bar>
</GridLayout>
<GridLayout class="page page-layout" rows="180, 60, *, 70" *ngIf="!processing">
    <GridLayout class="box" row="0" rows="auto, auto, auto, auto">
        <StackLayout row="0">
            <GridLayout columns="170, *">
                <StackLayout col="0">
                    <Label class="label-header" text="{{ 'Batch Name :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="transactions-list-header" text="{{ batchListObj.BatchName }}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout row="1">
            <GridLayout columns="170, *">
                <StackLayout col="0">
                    <Label class="label-header" text="{{ 'No. of Candidate :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="transactions-list-header" text="{{ batchListObj.TestName }}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout row="2">
            <GridLayout columns="170, *">
                <StackLayout col="0">
                    <Label class="label-header" text="{{ 'Center Location :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="transactions-list-header" text="{{ batchListObj.TrainingCenter }}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout row="3">
            <GridLayout columns="170, *">
                <StackLayout col="0">
                    <Label class="label-header" text="{{ 'Test Date :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="transactions-list-header" text="{{ batchListObj.TestName }}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
    <GridLayout class="box" row="1">
        <GridLayout columns="170, *">
            <StackLayout col="0">
                <Label class="label-header" text="{{ 'Assessor Name :' | uppercase   }}" textWrap="true"
                    horizontalAlignment="right"></Label>
            </StackLayout>
            <StackLayout col="1">
                <Label class="transactions-list-header" text="{{ batchListObj.TestName }}" textWrap="true"
                    horizontalAlignment="left"></Label>
            </StackLayout>
        </GridLayout>
    </GridLayout>

    <GridLayout class="box" row="2" rows="60, 60">
        <GridLayout row="0">
            <Button text="Take Theory" class="btn btn-primary btn-rounded-sm" (tap)="takeTheory()"></Button>
        </GridLayout>
        <GridLayout row="1">
            <Button text="Take Practical" class="btn btn-info btn-rounded-sm" (tap)="takePractical()"></Button>
        </GridLayout>
    </GridLayout>

    <StackLayout row="3">
        <ns-bottom-menu></ns-bottom-menu>
    </StackLayout>
</GridLayout>
<FlaxLayout justifyContent="center" alignItems="center" *ngIf="processing">
    <ActivityIndicator [busy]="processing"></ActivityIndicator>
</FlaxLayout>
