<GridLayout>
    <ns-action-bar title="Questions list" showBackButton="true"></ns-action-bar>
</GridLayout>
<GridLayout rows="*,70">
    <ScrollView row="0" height="100%">
        <GridLayout rows="auto,*,*,*,*,*,*,*,*,*,*,*" columns="*,*,*,*,*,*,*" *ngIf="questionsListObj.length">
            <FlexboxLayout *ngFor="let question of questionsListObj; let i = index" class="exam-grid-num"
                [row]="getRow(i, questionsListObj.length)" [col]="getColumn(i, questionsListObj.length)"
                (tap)="onQuestionIndex(question.TheoryQuestionId, i+1)">
                <Label [text]="i+1"></Label>
            </FlexboxLayout>
        </GridLayout>
    </ScrollView>
    <GridLayout class="box" row="1" height="100%">
        <GridLayout row="0">
            <Button text="Submit Exam" class="btn btn-primary btn-rounded-sm" (tap)="submitExam()"></Button>
        </GridLayout>
    </GridLayout>
</GridLayout>
