.exam-grid-num {
    justify-content: center;
    align-items: center;
    width: 50;
    height: 50;
    margin: 15;
    border-color: #428bca;
    border-width: 1;
    border-radius: 50%;
    color: #428bca;
}

.completed {
  background: #428bca;
}
