<GridLayout class="page">
    <FlexboxLayout class="drawer-container" tkDrawerContent>
        <Button text="Logout" class="btn btn-danger" nsRouterLink="/" [clearHistory]="true" (tap)="onLogout()"></Button>
    </FlexboxLayout>
    <GridLayout rows="*" class="page" tkMainContent>
        <StackLayout row="0">
            <page-router-outlet></page-router-outlet>
            <!-- <TabView androidTabsPosition="bottom">

                    <page-router-outlet
                        *tabItem="{title: 'Home', iconSource: getIconSource('home')}"
                        name="homeTab">
                    </page-router-outlet>

                    <page-router-outlet
                        *tabItem="{title: 'Browse', iconSource: getIconSource('browse')}"
                        name="browseTab">
                    </page-router-outlet>

                    <page-router-outlet
                        *tabItem="{title: 'Search', iconSource: getIconSource('search')}"
                        name="searchTab">
                    </page-router-outlet>

                </TabView> -->
        </StackLayout>
    </GridLayout>
</GridLayout>
