<GridLayout>
    <ns-action-bar title="Student List" showBackButton="true"></ns-action-bar>
</GridLayout>

<StackLayout *ngIf="!processing" class="page page-content home-page-content">
    <RadListView [items]="sudentListObj" separatorColor="transparent" class="transactions-list" height="100%"
        selectionBehavior="Press" (itemSelected)="onStudentListTap($event)" pageTransition="slideLeft"
        itemInsertAnimation="Slide">
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout class="box" row="0" rows="auto">
                <GridLayout row="0" class="transactions-list-item" columns="*, auto">
                    <StackLayout col="0">
                        <!-- <GridLayout columns="170, auto">
                            <StackLayout col="0">
                                <Label class="label-header" text="{{ 'Sr No. ' | uppercase   }}" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1">
                                <Label class="transactions-list-header" [text]="item.StudentBatchId" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                        </GridLayout> -->
                        <GridLayout columns="170, auto">
                            <StackLayout col="0">
                                <Label class="label-header" text="{{ 'Candidate Name ' | uppercase   }}" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1">
                                <Label class="transactions-list-header" [text]="item.StudentName" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout columns="170, auto">
                            <StackLayout col="0">
                                <Label class="label-header" text="{{ 'Candidate Id ' | uppercase   }}" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1">
                                <Label class="transactions-list-header" [text]="item.StudentUserIdId" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                        </GridLayout>
                        <!-- <GridLayout columns="170, auto">
                            <StackLayout col="0">
                                <Label class="label-header" text="{{ 'Login Id ' | uppercase   }}" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1">
                                <Label class="transactions-list-header" [text]="item.Username" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                        </GridLayout> -->
                        <GridLayout columns="auto">
                            <StackLayout col="0">
                                <Label class="label-header" text="Candidate photo and Video" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout class="box box-margin-layout" row="1" columns="*, *">
                            <StackLayout [class]="candidatePhotoCSS" col="0" borderRadius="10%" width="160"
                                height="90" verticalAlignment="center" horizontalAlignment="center"
                                textAlignment="center" [isUserInteractionEnabled]="candidatePhoto"
                                (tap)="takePhoto('in', $event)">
                                <Label text="Candidate Photo" class="cam-layout-label" verticalAlignment="center"
                                    horizontalAlignment="center" textAlignment="center"></Label>
                                <Label class="fa fa-size-30" text="&#xf030;" verticalAlignment="center"
                                    horizontalAlignment="center" textAlignment="center"></Label>
                            </StackLayout>
                            <StackLayout [class]="cssforTheoryVideo1" col="1" borderRadius="10%" width="160"
                                height="90" verticalAlignment="center" horizontalAlignment="center"
                                textAlignment="center" [isUserInteractionEnabled]="theoryVideo1"
                                (tap)="takeVideo('video', $event)">
                                <Label text="Candidate Video" class="cam-layout-label" verticalAlignment="center"
                                    horizontalAlignment="center" textAlignment="center"></Label>
                                <Label class="fa fa-size-30" text="&#xf03d;" verticalAlignment="center"
                                    horizontalAlignment="center" textAlignment="center"></Label>
                            </StackLayout>
                        </GridLayout>

                        <GridLayout columns="auto">
                            <StackLayout col="0">
                                <Label class="label-header" text="Adhar card detail" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout class="box box-margin-layout" row="1" columns="*, *">
                            <StackLayout [class]="candidatePhotoCSS" col="0" borderRadius="10%" width="160"
                                height="90" verticalAlignment="center" horizontalAlignment="center"
                                textAlignment="center"
                                (tap)="takePhoto('adharfront', $event)">
                                <Label text="Front photo" class="cam-layout-label" verticalAlignment="center"
                                    horizontalAlignment="center" textAlignment="center"></Label>
                                <Label class="fa fa-size-30" text="&#xf030;" verticalAlignment="center"
                                    horizontalAlignment="center" textAlignment="center"></Label>
                            </StackLayout>
                            <StackLayout [class]="candidatePhotoCSS" col="1" borderRadius="10%" width="160"
                                height="90" verticalAlignment="center" horizontalAlignment="center"
                                textAlignment="center"
                                (tap)="takePhoto('adharback', $event)">
                                <Label text="Back Photo" class="cam-layout-label" verticalAlignment="center"
                                    horizontalAlignment="center" textAlignment="center"></Label>
                                <Label class="fa fa-size-30" text="&#xf030;" verticalAlignment="center"
                                    horizontalAlignment="center" textAlignment="center"></Label>
                            </StackLayout>
                        </GridLayout>

                    </StackLayout>
                    <StackLayout col="1" class="next-arrow" horizontal="right">
                        <Label [text]="' &#xedbd;'" class="icon"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </ng-template>
    </RadListView>
</StackLayout>
<FlaxLayout justifyContent="center" alignItems="center" *ngIf="processing">
    <ActivityIndicator [busy]="processing"></ActivityIndicator>
</FlaxLayout>
