<GridLayout row="4" rows="30, auto">
    <StackLayout row="0">
        <Label text="{{'Attendance Sheet Photo' | uppercase }}" textWrap="true"></Label>
    </StackLayout>
    <GridLayout class="box" row="1" columns="*, *">
        <StackLayout [class]="cssforphoto1" col="0" borderRadius="10%" width="180" height="110" verticalAlignment="center"
            horizontalAlignment="center" textAlignment="center"
            [isUserInteractionEnabled]="attSheet1" (tap)="takePhoto('one')">
            <Label text="Take Photo" class="cam-layout-label" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
            <Label class="fa fa-size-30" text="&#xf030;" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
        </StackLayout>
        <StackLayout [class]="cssforphoto2" col="1" borderRadius="10%" width="180" height="110" verticalAlignment="center"
            horizontalAlignment="center" textAlignment="center"
            [isUserInteractionEnabled]="attSheet2" (tap)="takePhoto('two')">
            <Label text="Take Photo" class="cam-layout-label" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
            <Label class="fa fa-size-30" text="&#xf030;" verticalAlignment="center" horizontalAlignment="center"
                textAlignment="center"></Label>
        </StackLayout>
    </GridLayout>
</GridLayout>
