<GridLayout row="0" rows="30, auto">
        <StackLayout row="0">
            <Label text="{{'Assessor Selfie Attendance' | uppercase }}" textWrap="true"></Label>
        </StackLayout>
        <GridLayout class="box" row="1" columns="*, *">
            <StackLayout [class]="stackLauoutClassIn" col="0" borderRadius="10%" width="180" height="110"
                verticalAlignment="center" horizontalAlignment="center" textAlignment="center"
                [isUserInteractionEnabled]="assessorIN" (tap)="takePhoto('in')">
                <Label text="IN" class="cam-layout-label" verticalAlignment="center" horizontalAlignment="center"
                    textAlignment="center"></Label>
                <Label class="fa fa-size-30" text="&#xf030;" verticalAlignment="center" horizontalAlignment="center"
                    textAlignment="center"></Label>
            </StackLayout>
            <StackLayout [class]="stackLauoutClassOut" col="1" borderRadius="10%" width="180" height="110"
                verticalAlignment="center" horizontalAlignment="center" textAlignment="center"
                [isUserInteractionEnabled]="assessorOUT" (tap)="takePhoto('out')">
                <Label text="OUT" class="cam-layout-label" verticalAlignment="center" horizontalAlignment="center"
                    textAlignment="center"></Label>
                <Label class="fa fa-size-30" text="&#xf030;" verticalAlignment="center" horizontalAlignment="center"
                    textAlignment="center"></Label>
            </StackLayout>
        </GridLayout>
    </GridLayout>
