
.modal-popup {
    margin-top: 30;
}

.btn-rounded-sm-close {
    justify-content: center;
    align-items: center;
    width: 50;
    height: 50;
    margin: 15;
    border-color: #817f7f;
    border-width: 1;
    border-radius: 50%;
    color: #1d1c1c;
    background-color: #ffffff;
}
