<GridLayout>
    <ns-action-bar title="Practical exam" showBackButton="true"></ns-action-bar>
</GridLayout>
<GridLayout class="page page-content home-page-content" rows="80, 168, *" *ngIf="!processing">
    <GridLayout row="0" rows="*">
        <!-- <StackLayout>
            <FlexboxLayout  class="btn-rounded-sm-close" (tap)="closeModal()" horizontalAlignment="right"
                verticalAlignment="center">
                <Label class="icon-remove fa fa-size-30" text="&#xf00d;"></Label>
            </FlexboxLayout>
        </StackLayout> -->
    </GridLayout>
    <GridLayout class="box" row="1" rows="*,*">
        <StackLayout row="0">
            <GridLayout columns="140,200,100,120">
                <StackLayout col="0">
                    <Label class="label-header" text="{{ 'Test Name :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="transactions-list-header" [text]="testNameAndTime.testName" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
                <!--<StackLayout col="2">
                    <Label class="transactions-list-header" text="{{ 'Timer :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="3">
                    <Label class="transactions-list-header" text="{{ countDown | async | formatTime }}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>-->
            </GridLayout>
        </StackLayout>
        <StackLayout row="1">
            <GridLayout columns="140,200,100,120">
                <StackLayout col="0">
                    <Label class="label-header" text="{{ 'Candidate Name :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="transactions-list-header" [text]="studentInfo.StudentName" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
                <StackLayout col="2">
                    <Label class="transactions-list-header" text="{{ 'Question :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="3">
                    <Label class="transactions-list-header" text="{{questionPosition}} / {{totalQuestion}}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
    <ScrollView row="2" height="100%">
        <GridLayout rows="auto, auto">
            <GridLayout row="0" rows="auto, auto">
                <StackLayout row="0">
                    <StackLayout class="p-10" orientation="horizontal" verticalAlignment="center">
                        <Label class="fa-size-15" [text]="questionText" textWrap="true"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout row="1">
                    <StackLayout class="p-10" *ngFor="let option of radioOptions">
                        <StackLayout orientation="horizontal" verticalAlignment="center">
                            <CheckBox #elem [checked]="option.selected"
                                (checkedChange)="elem.checked !== option.selected && changeCheckedRadio(option)"
                                class="checkbox" boxType="circle"
                                ></CheckBox>

                            <StackLayout verticalAlignment="center">
                                <Label [text]="option.text" textWrap="true" (tap)="changeCheckedRadio(option)"></Label>
                            </StackLayout>
                        </StackLayout>
                    </StackLayout>
                </StackLayout>
            </GridLayout>
            <GridLayout row="1" columns="*, *">
                <StackLayout col="0">
                    <Button text="Back" [class]="backBtnClass" (tap)="backQuestion()"
                    [isUserInteractionEnabled]="backBtnVisibility"></Button>
                </StackLayout>
                <StackLayout col="1" *ngIf="!isSubmitBtnEnabled">
                    <Button text="Next" [class]="nextBtnClass" (tap)="nextQuestion()"
                    [isUserInteractionEnabled]="nextBtnVisibility"></Button>
                </StackLayout>
                <StackLayout col="1" *ngIf="isSubmitBtnEnabled">
                    <Button text="Submit" class="btn btn-success btn-rounded-sm" (tap)="submitQuestion()"></Button>
                </StackLayout>
            </GridLayout>
        </GridLayout>
    </ScrollView>
</GridLayout>
<FlaxLayout justifyContent="center" alignItems="center" *ngIf="processing">
    <ActivityIndicator [busy]="processing"></ActivityIndicator>
</FlaxLayout>
