<GridLayout>
    <ns-action-bar title="Batch Detail" showBackButton="true"></ns-action-bar>
</GridLayout>
<GridLayout class="page page-layout" rows="168, *, 70" *ngIf="!processing">
    <GridLayout class="box" row="0" rows="auto, auto, auto, auto">
        <StackLayout row="0">
            <GridLayout columns="170, *">
                <StackLayout col="0">
                    <Label class="label-header" text="{{ 'Batch Name :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="transactions-list-header" text="{{ batchListObj.BatchName }}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout row="1">
            <GridLayout columns="170, *">
                <StackLayout col="0">
                    <Label class="label-header" text="{{ 'Test Name :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="transactions-list-header" text="{{ batchListObj.TestName }}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout row="2">
            <GridLayout columns="170, *">
                <StackLayout col="0">
                    <Label class="label-header" text="{{ 'Center Location :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="transactions-list-header" text="{{ batchListObj.TrainingCenter }}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
        <StackLayout row="3">
            <GridLayout columns="170, *">
                <StackLayout col="0">
                    <Label class="label-header" text="{{ 'Test Date :' | uppercase   }}" textWrap="true"
                        horizontalAlignment="right"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="transactions-list-header" text="{{ batchListObj.TestName }}" textWrap="true"
                        horizontalAlignment="left"></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </GridLayout>
    <ScrollView row="1" height="100%">
        <GridLayout rows="auto, auto, auto, auto, auto, auto">
            <!--Assessor Selfie Started-->
            <ns-assessor-img [batchDetails]="batchListObj"></ns-assessor-img>
            <!--Assessor Selfi End-->

            <!--Group Photo Started-->
            <ns-group-img [batchDetails]="batchListObj"></ns-group-img>
            <!--Group Photo End-->

            <!--Theory Exam Photo Started-->
            <ns-theory-img [batchDetails]="batchListObj"></ns-theory-img>
            <!--Theory Exam Photo End-->

            <!--Theory video Started-->
            <ns-theory-video [batchDetails]="batchListObj"></ns-theory-video>
            <!--Theory video End-->

            <!--Attendance sheet Started-->
            <ns-attendance-sheet [batchDetails]="batchListObj"></ns-attendance-sheet>
            <!--Attendance sheet  End-->

        <GridLayout row="5">
            <Button text="Next" class="btn btn-primary btn-rounded-sm" (tap)="nextScreen()"></Button>
        </GridLayout>

        </GridLayout>
    </ScrollView>
    <StackLayout row="2">
        <ns-bottom-menu></ns-bottom-menu>
    </StackLayout>
</GridLayout>
<FlaxLayout justifyContent="center" alignItems="center" *ngIf="processing">
    <ActivityIndicator [busy]="processing"></ActivityIndicator>
</FlaxLayout>
