// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class

.page {
  background-color: #f1f5f8;
}

.page-layout {
  padding-top: 15;
  background-color: #f1f5f8;
  padding: 7.5;
}

.fa {
  font-family: "FontAwesome";
  font-weight: 500;
}

.fa-size-15 {
  font-size: 15;
}

.fa-size-30 {
  font-size: 30;
}

.icon {
  font-family: "MyGoldIcons";
}

.btn-info {
  background-color: #428bca;
  color: #ffffff;
  border-color: #428bca;
}

.btn-success {
  background-color: #5cb85c;
  color: #ffffff;
  border-color: #5cb85c;
}

.btn-danger {
  background-color: #d9534f;
  color: #ffffff;
  border-color: #d9534f;
}

.btn-default {
  background-color: #727070;
  color: #ffffff;
  border-color: #727070;
}

.btn-info-disabled{
  background-color: #428bca;
  color: #ffffff;
  border-color: #428bca;
  opacity: .65;
}

.btn-default-disabled{
  background-color: #727070;
  color: #ffffff;
  border-color: #727070;
  opacity: .65;
}


.checkbox {
  font-size: 30;
}

ActivityIndicator {
  height: 100;
  width: 100;
  z-index: 1000;
  color: grayscale($color: #c94747)
}

.page-layout .box {
    background-color: #ffffff;
    border-radius: 5;
    border-color: #f1f5f8;
    border-width: 1;
    padding-left: 15;
    padding-right: 15;
    padding-top: 10;
    padding-bottom: 10;
    margin-bottom: 10;
    color: #000;
}

.label-header {
    color: #717172;
    font-weight: 700;
    border-bottom: 1px solid lightgrey
}

.layout-disabled {
  border: 1 solid rgb(185, 183, 183);
  border-radius: 3;
  background: white;
  border-width: 1;
  border-color: rgb(185, 183, 183);
  color: rgb(185, 183, 183);
  margin-left:15;
}

// Common page class
.page-content {
  .page-placeholder {
    vertical-align: center;
    horizontal-align: center;
  }

  .page-icon {
    font-size: 72;
    vertical-align: top;
    horizontal-align: center;
    margin-top: 20%;
  }
}

//Action bar
ActionBar .action-bar-title {
  horizontal-align: center;
}

.drawer-container {
  background: linear-gradient(140deg, #404041, #5e5e5f);
  flex-direction: column;
  align-items: center;
  padding: 20;
  justify-content: center;
}

.home-page-content .balance-summary {
  text-align: center;
  vertical-align: middle;
}

.home-page-content .balance-summary StackLayout {
  padding-left: 5;
  padding-right: 5;
}

.home-page-content .balance-summary .title {
  color: #606f7b;
  font-size: 12;
  margin-bottom: 5;
}

.home-page-content .balance-summary .ammount {
  color: #3d4852;
  font-size: 16;
  font-weight: 600;
  margin-bottom: 5;
}

.home-page-content .balance-summary .hr-light {
  height: 3;
}

.home-page-content .balance-summary .hr-light.green {
  background-color: #38c172;
}

.home-page-content .balance-summary .hr-light.red {
  background-color: #e3342f;
}

//CSS for list
.transactions-list, .transactions-list-header {
  font-size: 14;
  color: #3d4852;
  margin-bottom: 5;
  margin-right: 10;
  margin-left: 10;
}

.transactions-list .transactions-list-item {
  background-color: #ffffff;
  border-radius: 5;
  border-color: #f1f5f8;
  border-width: 1;
  padding-left: 15;
  padding-right: 15;
  padding-top: 10;
  padding-bottom: 10;
  margin-bottom: 10;
}

.transactions-list .transactions-list-item .badge {
  border-radius: 50%;
  margin-right: 10;
  vertical-align: middle;
  text-align: center;
}

.transactions-list .transactions-list-item .badge .icon {
  color: #ffffff;
}

.transactions-list .transactions-list-item .badge.home {
  background-color: #3490dc;
}

.transactions-list .transactions-list-item .badge.transport {
  background-color: #22292f;
}

.transactions-list .transactions-list-item .badge.communication {
  background-color: #3490dc;
}

.transactions-list .transactions-list-item .badge.hotel {
  background-color: #38c172;
}

.transactions-list .transactions-list-item .badge.restaurant {
  background-color: #f6993f;
}

.transactions-list .transactions-list-item .title {
  font-size: 14;
  color: #3d4852;
}

.transactions-list .transactions-list-item .category {
  font-size: 14;
  color: #b8c2cc;
}

.transactions-list .transactions-list-item .ammount {
  font-size: 14;
  vertical-align: middle;
}

.transactions-list .transactions-list-item .ammount .quantity.red {
  color: #e3342f;
}

.transactions-list .transactions-list-item .ammount .quantity.green {
  color: #38c172;
}

.transactions-list .transactions-list-item .ammount .icon {
  color: #b8c2cc;
  font-size: 12;
}

//CSS for list
.transactions-list, .transactions-list-header {
  font-size: 14;
  color: #3d4852;
  margin-bottom: 5;
  margin-right: 10;
  margin-left: 10;
}

.transactions-list .transactions-list-item {
  background-color: #ffffff;
  border-radius: 5;
  border-color: #f1f5f8;
  border-width: 1;
  padding-left: 15;
  padding-right: 15;
  padding-top: 10;
  padding-bottom: 10;
  margin-bottom: 10;
}

.home-page-content {
  padding-top: 15;
  background-color: #f1f5f8;
  padding: 7.5;
}

.next-arrow {
  vertical-align: center;
}

/*CSS for camera*/
.transactions-list-header {
  font-size: 14;
  color: #3d4852;
  margin-bottom: 5;
  margin-right: 10;
  margin-left: 10;
}

.grid-layout-box {
margin-bottom: 10;
height: 100%;
}

.cam-layout {
border: 1 solid red;
border-radius: 3;
background: white;
border-width: 1;
border-color: #2E93F0;
color: #2E93F0;
margin-left:15;
}

.cam-layout-label {
padding: 10;
line-height: 2;
font-size: 17;
}

.cam-layout-disabled {
border: 1 solid rgb(185, 183, 183);
border-radius: 3;
background: white;
border-width: 1;
border-color: rgb(185, 183, 183);
color: rgb(185, 183, 183);
margin-left:15;
}

