<GridLayout>
    <ns-action-bar title="Student List" showBackButton="true"></ns-action-bar>
</GridLayout>

<StackLayout *ngIf="!processing" class="page page-content page-layout home-page-content">
    <RadListView [items]="sudentListObj" separatorColor="transparent" class="transactions-list" height="100%"
        selectionBehavior="Press" (itemSelected)="onStudentListTap($event)" pageTransition="slideLeft"
        itemInsertAnimation="Slide">
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout class="box" row="0" rows="auto">
                <GridLayout row="0" class="transactions-list-item" columns="*, auto">
                    <StackLayout col="0">
                        <GridLayout columns="170, auto">
                            <StackLayout col="0">
                                <Label class="label-header" text="{{ 'Sr No. ' | uppercase   }}" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1">
                                <Label class="transactions-list-header" [text]="item.StudentBatchId" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout columns="170, auto">
                            <StackLayout col="0">
                                <Label class="label-header" text="{{ 'Candidate Name ' | uppercase   }}" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1">
                                <Label class="transactions-list-header" [text]="item.StudentName" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout columns="170, auto">
                            <StackLayout col="0">
                                <Label class="label-header" text="{{ 'Candidate Id ' | uppercase   }}" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1">
                                <Label class="transactions-list-header" [text]="item.StudentUserIdId" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout columns="170, auto">
                            <StackLayout col="0">
                                <Label class="label-header" text="{{ 'Login Id ' | uppercase   }}" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                            <StackLayout col="1">
                                <Label class="transactions-list-header" [text]="item.Username" textWrap="true"
                                    horizontalAlignment="left"></Label>
                            </StackLayout>
                        </GridLayout>

                    </StackLayout>
                    <StackLayout col="1" class="next-arrow" horizontal="right">
                        <Label [text]="' &#xedbd;'" class="icon"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </ng-template>
    </RadListView>
</StackLayout>
<FlaxLayout justifyContent="center" alignItems="center" *ngIf="processing">
    <ActivityIndicator [busy]="processing"></ActivityIndicator>
</FlaxLayout>
