<GridLayout height="80" verticalAlignment="bottom" class="box">
    <GridLayout columns="*, *" height="80">
        <GridLayout col="0" (tap)="settingTab()" rows="*,*">
            <StackLayout row="0">
                <Label text="&#xf013;" class="fa fa-size-30" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout row="1">
                <Label text="Settings" row="1" horizontalAlignment="center"></Label>
            </StackLayout>
        </GridLayout>
        <GridLayout col="1" (tap)="logoutTab()" rows="*,*">
            <StackLayout row="0">
                <Label text="&#xf08b;" class="fa fa-size-30" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout row="1">
                <Label text="Logout" horizontalAlignment="center"></Label>
            </StackLayout>
        </GridLayout>
    </GridLayout>
</GridLayout>
