<ActionBar [title]="title" (loaded)="onLoadedActionBar()" class="action-bar">

    <NavigationButton
    text="Back"
    android.systemIcon="ic_menu_back"
    *ngIf="canGoBack"
    (tap)="onGoBack()"
    ></NavigationButton>

    <!-- <NavigationButton
    *ngIf="android && hasMenu"
    icon="res://menu_black"
    (tap)="onDrawMenuToggle()"
  ></NavigationButton> -->

  <!-- <ActionItem
    *ngIf="!android && hasMenu"
    ios.position="left"
    (tap)="onToggleMenu()"
  >
    <Label text="MENU"></Label>
  </ActionItem> -->
</ActionBar>
