<GridLayout>
    <ns-action-bar title="Batch List"></ns-action-bar>
</GridLayout>
<GridLayout class="page page-layout page-content home-page-content" rows="30, *, 80">
    <GridLayout columns="*, *" row="0">
        <StackLayout col="0">
            <Label col="0" class="transactions-list-header" text="Center Location" textWrap="true"></Label>
        </StackLayout>
        <StackLayout col="1">
            <Label col="1" class="transactions-list-header" text="Total Student" textWrap="true"
                horizontalAlignment="right"></Label>
        </StackLayout>
    </GridLayout>

    <StackLayout row="1">
        <RadListView [items]="dataItems" separatorColor="transparent" class="transactions-list" height="100%"
            selectionBehavior="Press" (itemSelected)="onBatchListTap($event)" pageTransition="slideLeft"
            itemInsertAnimation="Slide">
            <ng-template tkListItemTemplate let-item="item">
                <GridLayout columns="auto, *, auto" class="transactions-list-item">
                    <StackLayout class="mr-10" col="0" height="40" width="40" class="badge hotel">
                        <Label [text]="getBadgeIcon('hotel')" class="icon"></Label>
                    </StackLayout>
                    <StackLayout col="1" verticalAlignment="center" horizontalAlignment="left" width="70%">
                        <Label class="nameLabel" [text]="item.TrainingCenter" textWrap="true"></Label>
                    </StackLayout>
                    <StackLayout col="2" class="ammount" columns="*, *" horizontal="right">
                        <Label [text]="item.TotalStudent +' &#xedbd;'" class="icon"></Label>
                    </StackLayout>
                </GridLayout>
            </ng-template>
        </RadListView>
    </StackLayout>
    <StackLayout row="2">
        <ns-bottom-menu></ns-bottom-menu>
    </StackLayout>
</GridLayout>

<ActivityIndicator rowSpan="3" [busy]="processing"></ActivityIndicator>
